<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whyalwaysmea.account.mapper.AccountRecordPartersMapper" >
  <resultMap id="BaseResultMap" type="com.whyalwaysmea.account.po.AccountRecordParters" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="book_id" property="bookId" jdbcType="BIGINT" />
    <id column="wechat_openid" property="wechatOpenid" jdbcType="VARCHAR" />
  </resultMap>
</mapper>