<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whyalwaysmea.account.mapper.AccountBookPartersMapper">
    <resultMap id="BaseResultMap" type="com.whyalwaysmea.account.po.AccountBookParters">
        <id column="book_id" property="bookId" jdbcType="BIGINT"/>
        <id column="wechat_openid" property="wechatOpenid" jdbcType="VARCHAR"/>
        <id column="last_account_time" property="lastAccountTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getParters" parameterType="long" resultType="com.whyalwaysmea.account.vo.AccountBookPartersVO">
        SELECT p.book_id, p.wechat_openid, p.last_account_time, u.nick_name, u.avatar_url FROM account_book_parters p
            INNER JOIN wechat_user u
                ON p.wechat_openid = u.wechat_openid
        WHERE p.book_id = #{id}
    </select>

    <update id="updateLastAccountTime">
        UPDATE account_book_parters SET last_account_time = NOW() WHERE book_id = #{bookId} AND wechat_openid = #{userId}
    </update>
</mapper>