<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whyalwaysmea.account.mapper.BudgetaryMapper">
  <resultMap id="BaseResultMap" type="com.whyalwaysmea.account.po.Budgetary">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="account_book_id" jdbcType="BIGINT" property="accountBookId" />
    <result column="expenditure_type_id" jdbcType="BIGINT" property="expenditureTypeId" />
    <result column="total_amount" jdbcType="INTEGER" property="totalAmount" />
    <result column="surplus_amount" jdbcType="INTEGER" property="surplusAmount" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.whyalwaysmea.account.po.Budgetary">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="account_book_id" jdbcType="BIGINT" property="accountBookId" />
    <result column="expenditure_type_id" jdbcType="BIGINT" property="expenditureTypeId" />
    <result column="total_amount" jdbcType="INTEGER" property="totalAmount" />
    <result column="surplus_amount" jdbcType="INTEGER" property="surplusAmount" />
  </resultMap>
</mapper>