<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whyalwaysmea.account.mapper.ExpenditureTypeMapper">
    <resultMap id="BaseResultMap" type="com.whyalwaysmea.account.po.ExpenditureType">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="pid" jdbcType="BIGINT" property="pid" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
        <result column="icon_url" jdbcType="VARCHAR" property="iconUrl" />
        <collection property="childExpenditure" ofType="com.whyalwaysmea.account.po.ExpenditureType" javaType="java.util.ArrayList">
            <id column="cid" jdbcType="BIGINT" property="id" />
            <result column="cpid" jdbcType="BIGINT" property="pid" />
            <result column="cname" jdbcType="VARCHAR" property="name" />
            <result column="ccreator_id" jdbcType="VARCHAR" property="creatorId" />
            <result column="cicon_url" jdbcType="VARCHAR" property="iconUrl" />
        </collection>
    </resultMap>

    <select id="getMaxOrderId" resultType="long">
        SELECT IFNULL(MAX(order_id), 0) FROM expenditure_type WHERE creator_id = #{userId}
        <choose>
            <when test="pid == null">
                AND pid IS NULL
            </when>
            <otherwise>
                AND pid = #{pid}
            </otherwise>
        </choose>
    </select>


    <select id="findAll" resultMap="BaseResultMap">
        SELECT p.id, p.pid, p.name, p.creator_id, p.icon_url, c.id cid, c.pid cpid, c.name cname, c.creator_id ccreator_id, c.icon_url cicon_url
        FROM expenditure_type p LEFT JOIN expenditure_type c ON p.id = c.pid WHERE p.creator_id = #{userId} AND p.pid IS NULL;
    </select>
</mapper>