<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whyalwaysmea.account.mapper.PeriodicAccountMapper" >
  <resultMap id="BaseResultMap" type="com.whyalwaysmea.account.po.PeriodicAccount" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="book_id" property="bookId" jdbcType="BIGINT" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="record_type" property="recordType" jdbcType="TINYINT" />
    <result column="main_type" property="mainType" jdbcType="BIGINT" />
    <result column="secondary_type" property="secondaryType" jdbcType="BIGINT" />
    <result column="pay_income_way" property="payIncomeWay" jdbcType="BIGINT" />
    <result column="peridoic_type" property="peridoicType" jdbcType="TINYINT" />
    <result column="peridoic_date" property="peridoicDate" jdbcType="TINYINT" />
    <result column="creator_id" property="creatorId" jdbcType="VARCHAR" />
    <result column="record_time" property="recordTime" jdbcType="TIMESTAMP" />
    <result column="next_record_time" property="nextRecordTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>