<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whyalwaysmea.account.mapper.WechatUserMapper" >
  <resultMap id="BaseResultMap" type="com.whyalwaysmea.account.po.WechatUser" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="wechat_openid" property="wechatOpenid" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="avatar_url" property="avatarUrl" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="TINYINT" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="continuity_account_days" property="continuityAccountDays" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="last_account_time" property="lastAccountTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>